<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dicta
      deleniti sunt ducimus recusandae necessitatibus consectetur repellendus,
      ea obcaecati illum!
    </p>
  </header>
  <div style="width: 50%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Name</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem officia
        rem, possimus explicabo delectus quibusdam provident iste incidunt
        officiis unde laboriosam vel optio repellendus saepe dolorum sunt eum,
        magni modi.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dicta
      deleniti sunt ducimus recusandae necessitatibus consectetur repellendus,
      ea obcaecati illum!
    </p>
  </div>
</section>
